@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 600px) {
  .join-area {
    border: none;
  }
}

.join-area {
  border: 1px solid #344343;
  padding: 10vmin;
  width: 25vw;
  height: 40vh;
}

/* .input {position: relative;
right: -10rem;
margin-right: 10px;
} */

.btn {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

.btn-primary {
  background-color: rgb(38, 177, 241);
  color: white;
}
